body,
html {
  box-sizing: border-box;	
  height: 100%;	
  width: 100%; 
}
.container {
	margin : 0 auto;
	width: 80%;
}
header {
	display: flex;
	height: 100px;
	width: 100%;
}
.msgClass {
	background: pink;
	height: 25px;
	margin : 0 auto;
	padding: 20px;
	text-align: center;
	width : 400px;
}
.container1 {
  height: 550px;
  margin: 30px auto;	
  position: relative; 
  width: 1200px; 
}
.board  {
	display : flex;
}

.board1, .board2 {
  background: gray
  radial-gradient(center, rgba(40,80,60,1), rgba(0,20,20,.6));
  background: gray
    -webkit-radial-gradient(center, rgba(40,80,60,1), rgba(0,20,20,.6));
  background: gray
    -moz-radial-gradient(center, rgba(40,80,60,1), rgba(0,20,20,.6));
  background: gray
    -ms-radial-gradient(center, rgba(40,80,60,1), rgba(0,20,20,.6));
  
  background-size: cover;
  overflow: hidden;
  position: relative;	
  height: 320px;
  width: 320px;	
}

.board1 {	
  left : 50px;
}

.board2 {	
  left : 315px;
}

.sqr {
	border: 1px solid #DDD;
	float : left;
	font-size: 50px;
	height: 30px;
	width : 30px;	
}
.classButtons{
	height: 420px;
	left : 375px;
	position : absolute;
	top : 40px;
	width : 260px;
}
.replay, .start {
	background: rgba(40,80,60,1);
	color : white;
	left : 30px;
	margin : 0 auto;
	opacity: 1;
	position : relative;
	height: 50px;
	width :200px;
}